html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('../img/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container {
    height: 80%;
    width: 75%;
    margin: 1rem auto;
    border: .25rem solid black;
    border-radius: 5rem;
    flex-direction: column-reverse;
    overflow: hidden;
    
}

.container-upper {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #7a7a7ace;
    -webkit-box-shadow: 0 -.25rem .75rem black;
            box-shadow: 0 -.25rem .75rem black;
   z-index: 5;
}

.container-lower {
    height: 100%;
}

.header {
    font-size: 2.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: antiquewhite;
    text-align: center;
}

h1:first-child {
    font-size: 2.75rem;
    font-weight: bold;
    color: #810602e7;
}

#btnArcade {
    width: 50%;
    margin: 1rem auto;
    justify-content: space-around;
}

.button {
    font-size: 1.25rem;
    background-color: #b80903e7;
    color: antiquewhite;
    padding: .25rem .5rem;
    border: none;
    border-radius: .2rem;
    margin: 0 .75rem;
    -webkit-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
}

.button:hover {
    background-color: #810602e7;
    color: antiquewhite;
}

.button:active {
    border: none;
}


#quoteBox {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    background-color: rgba(109, 138, 104, 0.842);
    color: antiquewhite;
}

#words {
    font-size: 1.75rem;
    font-weight: bold;
}

#definitions {
    text-indent: 1.25rem;
    font-size: 1.15rem;
    width: 80%;
}

/* media queries */

@media only screen and (max-width: 768px) {
    .container {
        height: 90vh;
        width: 90vw;
    }
    #definitions {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 470px) {
    .container {
        height: 100vh;
        width: 100vw;
        margin: 0;
        border: none;
    }
    
    .header {
        font-size: 1.25rem;
    }
    .button {
        font-size: .75rem;
    }
    #words {
        font-size: 1rem;
        font-weight: bold;
    }
    #definitions {
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
    }
}
/* 
#imgDisplay {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

/* .heaven {
    background-image: url("../img/heaven.jpg");
}

.heaven1 {
    background-image: url("../img/heaven1.jpg");
}

.heaven2 {
    background-image: url("../img/heaven2.jpg");
}

.heaven3 {
    background-image: url("../img/heaven3.jpg");
}

.hell {
    background-image: url("../img/hell.jpg");
}

.hell1 {
    background-image: url("../img/hell1.jpg");
}

.hell2 {
    background-image: url("../img/hell2.jpg");
}

.hell3 {
    background-image: url("../img/hell3.jpg");
}

.hell4 {
    background-image: url("../img/hell4.jpg");
} */