/* html n body */

html {
    font-family: 'Ubuntu', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.heaven {
    background-image: url("../img/heaven.jpg");
}

.heaven1 {
    background-image: url("../img/heaven1.jpg");
}

.heaven2 {
    background-image: url("../img/heaven2.jpg");
}



.hell {
    background-image: url("../img/hell.jpg");
}

.hell1 {
    background-image: url("../img/hell1.jpg");
}

.hell2 {
    background-image: url("../img/hell2.jpg");
}

#main {
    width: 100vw;
    height: 100vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

/* special .'s */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.green {
    color: darkgreen;
}

/* rqgContainer and imgWrapper
_____________________________*/

#rqgContainer {
    width: 40%;
    height: 60%;
}

#imgWrapper {
    width: 55%;
    height: 100%;
    overflow: hidden;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#imgDisplay {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



/* button flobal 
_____________________________*/

button {
    font-size: 1.75rem;
    color: black;
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 2rem;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

button:hover {
    background-color: red;
    color: white;
}

/* .header
_______________________*/

.header {
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 15%;

}

h1 {
    width: 60%;
    font-size: 2rem;
    margin: 1rem auto;
}

h2 {
    width: 90%;
    font-size: 1.5rem;
    margin: 0 auto;
    border-bottom: 0.5rem solid black;
    border-right: 0.5rem solid black;
    padding-bottom: .25rem;
}

/* button arcade, where the buttons play
____________________*/

#btnArcade {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}


/* quote container
___________________*/

#quoteBox {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

#words {
    width: auto;
    height: auto;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: .25rem solid white;
    border-right: .25rem solid white;
    border-radius: 0 0 10px 0;
}

#definitions {
    width: 75%;
    height: auto;
    margin: .5rem auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    color: white;
    border-bottom: .25rem solid white;

    border-left: .50rem solid white;
    border-radius: 0 0 10px 0;
}

/* lonely button
_________________________*/

#btnIsland {
    width: 80%;
    height: auto;
    margin: .5rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#tweetButtonText {
    color: white;
}

.icon {
    color: steelblue;
}

.icon:hover {
    color: white;
}

#tweetBtn:hover {
    color: white;
    background-color: steelblue;
}
