html {
    font-family: 'Ubuntu', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heaven {
    background-image: url("../img/heaven.jpg");
}

.hell {
    background-image: url("../img/hell.jpg");
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



button {
    font-size: 2.5rem;
    color: white;
    border: none;
    background-color: black;
    outline: none;
    margin-top: 1rem;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

button:hover {
    background-color: red;
    color: white;
}

.selected {
    background-color: red;
    color: white;
}

/* header
_______________________*/

header {
    width: 100vw;
    background-color: green;
    color: white;
    text-align: right;
}

h1 {
    width: 80vw;
    font-size: 4rem;
    margin: 0 auto;
}

h2 {
    width: 80vw;
    font-size: 3rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

/* button arcade, where the buttons play
____________________*/
#btnArcade {
    justify-content: space-around;
}


/* quote container
___________________*/

#quoteBox {
    width: 100vw;
    height: auto;
    margin-top: 1rem;
}

#words {
    width: auto;
    height: auto;
    margin: 0 auto;
    color: black;
    font-size: 4rem;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#definitions {
    width: 75vw;
    height: auto;
    margin: 1rem auto;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    color: black;
    border-radius: 15px;
}

/* lonely button
_________________________*/
#btnIsland {
    width: 80vw;
    height: auto;
    margin: 1rem auto;
    flex-direction: row-reverse;
}
