html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('../img/forest.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container {
    height: 75vh;
    width: 55vw;
    margin: 1rem auto;
    background-color: #ffeead;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border: .25rem solid #ff6f69;
    border-radius: .5rem;
    
}

.container-upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #96ceb4;
    -webkit-box-shadow: 0 .25rem .5rem black;
            box-shadow: 0 .25rem .5rem black;
   border-radius: .15rem .15rem 0 0;
}

.container-lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header {
    font-size: 2.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffeead;
    text-align: center;
}

h1:first-child {
    font-size: 2.75rem;
    font-weight: bold;
    color: #ff6f69;
}

#btnArcade {
    width: 75%;
    margin: 1rem auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.button {
    font-size: 1.25rem;
    background-color: #ff6f69 ;
    color: antiquewhite;
    padding: .15rem .25rem;
    border: none;
    border-radius: .75rem;
    margin: 0 .25rem;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ffeead;
    color: #ff6f69;
    -webkit-box-shadow: 0 .1rem .5rem black;
            box-shadow: 0 .1rem .5rem black;
}

.button:active {
    border: none;
}


#quoteBox {
    margin: .75rem auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
}

#words {
    font-size: 1.75rem;
    font-weight: bold;
}

#definitions {
    text-indent: 1.25rem;
    font-size: 1.15rem;
    width: 100%;
}

.tweet-button {
    margin: .75rem auto;
}

/* media queries */

@media only screen and (max-width: 768px) {
    .container {
        height: 90vh;
        width: 90vw;
    }
    #definitions {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 470px) {
    .container {
        height: 100vh;
        width: 100vw;
        margin: 0;
        border: none;
    }
    
    .header {
        font-size: 1.25rem;
    }
    .button {
        font-size: .75rem;
    }
    #words {
        font-size: 1rem;
        font-weight: bold;
    }
    #definitions {
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
    }
}
/* 
#imgDisplay {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

/* .heaven {
    background-image: url("../img/heaven.jpg");
}

.heaven1 {
    background-image: url("../img/heaven1.jpg");
}

.heaven2 {
    background-image: url("../img/heaven2.jpg");
}

.heaven3 {
    background-image: url("../img/heaven3.jpg");
}

.hell {
    background-image: url("../img/hell.jpg");
}

.hell1 {
    background-image: url("../img/hell1.jpg");
}

.hell2 {
    background-image: url("../img/hell2.jpg");
}

.hell3 {
    background-image: url("../img/hell3.jpg");
}

.hell4 {
    background-image: url("../img/hell4.jpg");
} */